# Go
/bin/
*.exe
*.test
*.out

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
build/
dist/

# Env / secrets
.env
*.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# OS / editor
.DS_Store
.idea/
.vscode/
